客户端/Connected Services/host/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/%E6%9C%8D%E5%8A%A1%E7%AB%AF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_Sendmessage_InputMessage">
    <wsdl:part name="parameters" element="tns:Sendmessage" />
  </wsdl:message>
  <wsdl:message name="IServices_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IServices_Recevie_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Recevie" />
  </wsdl:message>
  <wsdl:message name="IServices_Recevie1_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Recevie1" />
  </wsdl:message>
  <wsdl:message name="IServices_Onlineuser_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Onlineuser" />
  </wsdl:message>
  <wsdl:message name="IServices_Myname_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Myname" />
  </wsdl:message>
  <wsdl:message name="IServices_DisableSendMsg_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DisableSendMsg" />
  </wsdl:message>
  <wsdl:message name="IServices_SendMsg_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServices">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Sendmessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/Sendmessage" message="tns:IServices_Sendmessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/Register" message="tns:IServices_Register_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Recevie">
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/Recevie" message="tns:IServices_Recevie_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Recevie1">
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/Recevie1" message="tns:IServices_Recevie1_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Onlineuser">
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/Onlineuser" message="tns:IServices_Onlineuser_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Myname">
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/Myname" message="tns:IServices_Myname_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DisableSendMsg">
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DisableSendMsg" message="tns:IServices_DisableSendMsg_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMsg">
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/SendMsg" message="tns:IServices_SendMsg_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServices" type="tns:IServices">
    <wsp:PolicyReference URI="#NetTcpBinding_IServices_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Sendmessage">
      <soap12:operation soapAction="http://tempuri.org/IServices/Sendmessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IServices/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Recevie">
      <soap12:operation soapAction="http://tempuri.org/IServices/Recevie" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recevie1">
      <soap12:operation soapAction="http://tempuri.org/IServices/Recevie1" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Onlineuser">
      <soap12:operation soapAction="http://tempuri.org/IServices/Onlineuser" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Myname">
      <soap12:operation soapAction="http://tempuri.org/IServices/Myname" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableSendMsg">
      <soap12:operation soapAction="http://tempuri.org/IServices/DisableSendMsg" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <soap12:operation soapAction="http://tempuri.org/IServices/SendMsg" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="NetTcpBinding_IServices" binding="tns:NetTcpBinding_IServices">
      <soap12:address location="net.tcp://localhost/5000/host" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/5000/host</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>HASEE-PC\Administrator</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>